<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Andernet WeatherLens Deluxe</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>dev.andernet.atmoview</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>andernetweather</string>
			</array>
		</dict>
	</array>
	<key>CSSearchableIndex</key>
	<true/>
	<key>NSWidgetWantsLocation</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>location</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>LaunchImage</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>UIPreferredDefaultContentSizeCategory</key>
	<string>UICTContentSizeCategoryM</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
